*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #ffffff;
    color: #555;
    font-family: Lato,sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url('../css/img/food-img.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
h1{
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    color: #ffffff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s ,border 0.2s,color 0.2s;
}
.btn-full,
.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    color: white;
    border: 1px solid #e67e22;
    margin-right: 25px;
    border-radius: 200px;
}
.btn-full:hover,
.btn-full:active{
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    color: #ffffff;

}
.btn-ghost,
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
    border-radius: 200px;
}
.btn-ghost:hover,
.btn-ghost:active{
    color: white;
    background-color: #cf6d17;
    border: 1px solid #cf6d17;

}
/* logo image  and nav bar */
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    border-radius: 50%;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;

}
.main-nav li{
display: inline-block;
margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    transition: border-bottom 0.2s ;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}
/* features section */
section{
    padding: 80px 0;
}

h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    /* margin-top: 30px; */
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
}
.box{
    padding: 1%;
}
h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15%;
}
.box p{
    font-size: 90%;
    line-height: 145%;
    margin-bottom: 20px;
}
.big-icon{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    
}
/* food meals section */
.meals-showcase{
    list-style: none;
    width: 100%;
    float: left;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
    
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;

}
.meal-photo img{
    width: 100%;
    height: 280px;
    background-size: contain;
    transform: scale(1.15);
    opacity: 0.7;
    transition: transform 0.2s,opacity 0.2s;

    

}
.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}


.section-meals{
    padding-bottom: 30px;
}
.section-meals::after{
    content: "";
    display: block;
    clear: both;
}


/* section step */
.work-step{
    margin-bottom: 50px;
    margin-right: 25px;
}
.step-box:first-child{
    text-align: center;
    padding-right: 3%;
    margin-top: 30px;
}
.step-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 35%;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.work-step div{
    color: #e67e22;
    border: 4px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    margin-right: 25px;
    text-align: center;
    padding: 8px;
    float: left;
    font-size: 150%;
}
.work-step:last-of-type{
    margin-bottom: 80px;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.btn-app:link,
.btn-app:visited{
    border: 0;
}
.section-steps {
    background-color: #f4f4f4;
    /* margin: 30px 0; */
    padding-top: 40px;
}
.section-steps h2{
    margin-top: 40px;
}


/* city features */
.box img{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}
.city-feature{
    margin-bottom: 5px;
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}
a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
}
a:hover,
a:active{
    color: #555;
    border: 1px solid transparent;
    transition: border-bottom 0.5s,color 0.5s;
}
.section-cities::after {
    content: "";
    display: block;
    clear: both;
}

/* section testimonials */
.section-testimonials{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('img/back-food-1.jpg');
    background-size: cover;
    color: #ffffff;
    background-attachment: fixed;
}
.section-testimonials::after {
    content: "";
    display: block;
    clear: both;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;
    position: relative;
}
cite{
    font-size: 90%;
    display: block;
    margin-top: 25px;
}
cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;

}
blockquote::before{
    content: '\201C';
    font-size: 500%;
    display: block;
    position: absolute;
    top: 0;
    left: -3px;
}