*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #ffffff;
    color: #555;
    font-family: Lato,sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url('img/food-img.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h1{
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    color: #ffffff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s ,border 0.2s,color 0.2s;
}
.btn-full,
.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    color: white;
    border: 1px solid #e67e22;
    margin-right: 25px;
    border-radius: 200px;
}
.btn-full:hover,
.btn-full:active{
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    color: #ffffff;

}
.btn-ghost,
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
    border-radius: 200px;
}
.btn-ghost:hover,
.btn-ghost:active{
    color: white;
    background-color: #cf6d17;
    border: 1px solid #cf6d17;

}